:root {
  /* --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s; */
  --text-transform-cap: capitalize;
  --white: #f1f1f0;
  --font-color: #333;
  --padding-sesions: 50px 0;
}
* {
  padding: unset;
  margin: unset;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  background: var(--white);
}

/* start header */
.header {
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
}
.container-header ul {
  display: flex;
}
.container-header ul li a {
  margin: 0 17px;
  font-weight: 700;
  color: var(--font-color);
  text-transform: var(--text-transform-cap);
}
.right-header {
  display: flex;
  gap: 100px;
}
/* end header */
/* start home */

/* end home */
.slider-content {
  display: flex;
  gap: 40px;
  padding: 3rem 0 0 0;
}
.right,
.left {
  width: 591.5px;
}
.left .content {
  color: var(--font-color);
}
.topTitle {
  font-size: 160px;
}
/* .subTitle {
  font-size: 20px;
} */
.img-container {
  border-radius: 0.8rem;
  min-height: 20rem;
  overflow: hidden;
  width: 100%;
}
.img-container img {
  max-width: 100%;
  height: auto;
}
.right-img {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* start discount */
.discount-session {
  padding: 3rem 0;
  margin: 3rem 0;
}
.container-discount {
  display: flex;
  justify-content: center;
  /* width: 100%; */
  padding: 3rem;
}
.contant-discount {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.left-discount-section .topTitle-discount-left {
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
  padding: 20px 20px 0 20px;
}
.left-discount-section .subTitle-discount {
  color: #51565b;
  padding: 0 20px 0 20px;
}
.topTitle-discount-right strong {
  /* right: 0;
  bottom: -42px; */
  font-family: var(--extra-font);
  font-size: 5.8em;
  color: var(--gray-color-200);
  z-index: 1;
  color: #c8c7c7;
}
.topTitle-discount-right small {
  font-size: 3.8em;
  font-weight: bolder;
  color: #c8c7c7;
}
.btn-container {
  /* position: relative; */
}
.contant-discount {
  background: #e1e1e1;
}
.btn-container button {
  /* position: absolute; */
  padding: 0.8em 2.5em;
  font-size: 1.1em;
  letter-spacing: 2px;
  background: black;
  color: white;
  border: none;
}
.right-discount-section {
  position: relative;
}
.btn-container {
  position: relative;
  right: 50%;
}
.topTitle-discount-right {
  position: relative;
}
/* end discount */
/* start featured-products */
.cards-container {
  display: flex;
  width: 100%;
  gap: 15px;
  padding-top: 2em;
  padding-bottom: 2em;
}
.cards {
  width: 90%;
  margin: 0 auto;
}
.card-container {
  width: 100%;
}
.card-img {
  width: inherit;
}
.cards-container .img-contant {
  width: 100%;
}
.cards-container .img-contant img {
  max-width: 100%;
}
.cards .card-topTitle {
  /* text-align: center; */
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.33rem;
  text-transform: uppercase;
}
.card-detail {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 11px;
}
.card-title {
  font-size: 15px;
  font-weight: 400;
}
.card-price {
  color: #333;
  font-weight: 700;
}
.card-img {
  position: relative;
}

.card-container:hover .icons-featured {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.icons-featured {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 10px);
  display: flex;
  gap: 20px;
}

.icons-featured button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
.icons-featured button:hover {
  transform: translate3d(0, -0.5rem, 0);
}

/* end featured-products */
/* start collection-productes */
.collection-products {
  padding: 3rem 0;
  margin: 3rem 0;
}
.colllection-img {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 21px;
}

.content-img {
  width: 100%;
}
.content-img img {
  max-width: 100%;
  border-radius: 10px;
}
/* end collection-productes */
